#home {
  background-image: url('../../assets/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: space-around;

  section {
    background-color: rgba(0,0,0,0.5);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 80%;
    width: 35%;

  }

  svg {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  h1 {
    text-align: center;
    color: azure;
  }

  .play-button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  a.play-button {
    background-color: palegreen;
    color: azure;
    cursor: pointer;
    padding: 1rem;
  }

  a.ins-button {
    background-color: palegreen;
    color: azure;
    cursor: pointer;
    padding: 1rem;
  }

}