#homee {
  background-image: url('assets/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;

    section {
    background-color: rgba(0,0,0,0.5);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 80%;
    width: 35%;

  }

  svg {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  h1 {
    text-align: center;
    color: azure;
    font-weight: 500;
  }

  .play-button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  a.play-button {
    background-color: coral;
    color: azure;
    cursor: pointer;
    padding: 1rem;
    width:45%;
    border-radius: 15px;
    text-align: center;
    display: block;
    transition: all ease-in 200ms;

  }

  a.ins-button {
    background-color: dodgerblue;
    color: azure;
    cursor: pointer;
    padding: 1rem;
    width:45%;
    border-radius: 15px;
    text-align: center;
    display: block;
    transition: all ease-in 200ms;

  }

  a.play-button:hover {
    transform: scale(1.20);
    background-color: darken(coral, 20);
  }

  a.ins-button:hover {
    transform: scale(1.20);
    background-color: darken(dodgerblue, 20);
  }

}

@media (max-width: 900px) {
  #home section {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
  }
}